<% if  current_user %>
  <div class="create-snippet">
    <h3 class="click_create_snippet">create a snippet</h3>
    <%= render 'form' %>
  </div>
<% end %>

<% unless @snippets.empty? %>
  <div class="snippets_container">
    <%= render @snippets %>
  </div>
<% end %>

