<ul class="sidebar">
  <a href="/"><li class="code-button active" data-no-turbolink></li></a>
  <a href="/users/<%= session[:user_id] %>" data-no-turbolink><li class="sheet-button"></li></a>
  <a href="/snippets/new" data-no-turbolink><li class="upload-button"></li></a>
</ul>

<div class="snippets_container">
	<% unless @snippets.empty? %>
	    <%= render @snippets %>
	<% end %>
</div>

<div class="description"></div>


