<% @cheatsheets.each do |cheatsheet| %>
  <div class="cheatsheet">
    <!-- <h2><%= cheatsheet.name %></h2> -->
    <% if cheatsheet.snippets %>
      <%= render partial: "snippet", collection: cheatsheet.snippets %>
    <% end %>
  </div>
<% end  %>
