<div class="snippet">
	<div class="snippet-title"><%= snippet.title %></div>
	<div id="snippet-readonly" class="editor readonly"><%= snippet.code %></div>
	<%=link_to('add to my cheatsheet', edit_user_cheatsheet_path(@user, snippet), method: 'put')%> 
</div>
