<% if session[:user_id] %>
  <div class="create-snippet">
    <h3> Create a Snippet</h3>
    <%= render 'form' %>
    </div>
<% end %>

<% unless @snippets.empty? %>
  <h2>Snippets</h2>
  <%= render @snippets %>
<% end %>

