/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  margin: 0;
 }

 html, body {
  height: 100%;
 }

.field {
  display: inline;
}

.snippet-editor {
	position: relative;
  background-color: #333;
}
.editor {
	width:600px;
	height:150px;
	position:relative;
	border: 1px solid #DDD;
	border-radius: 4px;
  text-align: left;
}

.snippet {
  display: inline-block;
	margin-bottom: 20px;
  padding-left: 60px;
  padding-right: 25px;
  width: 600px;
}

.add_button {
  display: block;
  position: relative;
  margin-left: 600px;
  padding: 5px;
}

.buttons {
  display: inline;
  padding-left: 10px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #E0E0EB;
  color: #333;
  width: 100%;
}

.container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
  padding-top: 90px;
  text-align: center;
  width: 100%;
}

/*.snippets_container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-left: -65%;
  width: 235%;
  background: #E0E0EB;
}*/

.view {
  margin: 175px auto;
  height: 475px;
  width: 500px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #999;
}

.view a{
  color: #70DBFF;
}

.form-elements {
  padding-top: 80px;
}

.form {
  text-align: right;
  margin-right: 35%;
}

h1 a {
  color: #113F8C;
  text-decoration: none;
  position: absolute;
  font-size: 30px;
  top: 26px;
  left: 26px;
}

nav {
  position: fixed;
  width: 99%;
  height: 60px;
  padding: 15px;
  /*background: #38467A;*/
  background: #144B73;
  z-index: 99;
}

nav a {
  color: #F2F1EF;
  padding: 5px;
  text-decoration: none;
}

nav ul {
  position: relative;
  float: right;
}

nav li {
  display: inline;
}

#snippet_search {
  position: absolute;
  right: 0;
  padding-top: 25px;
  width: 330px;
}

.star {
  color: #fff;
}

.click_create_snippet {
  text-align: center;
  border: 1px solid #fff;
  color: #000;
  background-color: #fff;
}

.create-snippet {
	margin-bottom:20px;
  color: #fff;
  background-color: #333;
}

.create-snippet h3 {
  cursor:pointer;
}
.create-snippet form.new_snippet {
  display:none;
}
.create-snippet .field {
  margin:5px 0;
  display:block;
}
.new_snippet {
  padding:10px 0;
}
.create-snippet input {
  padding:2px 4px;
}
.new_snippet label {
  margin-bottom:5px;
}
.new_snippet, .edit_snippet {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

footer, .push {
  height: 4em;
}

footer {
  font-weight: lighter;
  line-height: 20px;
  letter-spacing: 1px;
  height: 100px;
  background: #454545;
  color: #F2F1EF;
}
.form-errors ul {
	padding-left:0;
	margin-bottom:20px;
	color:red;
	list-style:none;
}
.notice {
	color:red;
}
.field_with_errors {
	display:inline;
}

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
}

.tag {
  background: #144B73;
  border-radius: 3px 0 0 3px;
  color: #ffffff;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #E0E0EB;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #E0E0EB;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #144B73;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

@media screen and (max-width: 1250px){

.snippet {
  padding:0;
  display:block;
  margin:0 auto 20px;
}

}

