/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  margin: 0;
 }

 html, body {
  height: 100%;
 }
.snippet-editor {
	position:relative;
}
.editor {
	width:600px;
	height:150px;
	position:relative;
	border: 1px solid #DDD;
	border-radius: 4px;
}
.snippet {
	margin-bottom:20px;
}

.add_button {
  position: absolute;
  margin-left: 600px;
  padding: 5px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #ECECEC;
  width: 100%;
}

.container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
  width: 600px;
  padding: 20px;
}

h1 a {
  color: #113F8C;
  text-decoration: none;
  position: absolute;
  font-size: 30px;
  top: 26px;
  right: 25px;
}

nav {
  margin: 5px 0 0 5px;
  height: 60px;
  padding: 15px;
  background: #38467A;
  border-radius: 10px 0px 0px 10px;
}

nav a {
  color: #F2F1EF;
  padding: 3px;
  text-decoration: none;
}

nav ul {
  position: absolute;
  top: 40px;
  left: 25px;
}

nav li {
  display: inline;
}

.star {
  color: #01C487;
}
.create-snippet {
	margin-bottom:20px;
}
.create-snippet h3 {
  cursor:pointer;
}
.create-snippet form.new_snippet {
  display:none;
}

footer, .push {
  height: 4em;
}

footer {
  font-weight: lighter;
  line-height: 20px;
  letter-spacing: 1px;
  height: 100px;
  background: #454545;
  color: #F2F1EF;
}
.form-errors ul {
	padding-left:0;
	margin-bottom:20px;
	color:red;
	list-style:none;
}
.notice {
	color:red;
}
.field_with_errors {
	display:inline;
}
