<% @cheatsheets.each do |cheatsheet| %>
  <div class="cheatsheet">
    <h2><%= cheatsheet.name %></h2>
    <% cheatsheet.snippets.each do |snippet| %>
      <div class="snippet">
        <h3><%= snippet.title %></h3>
        <div class="snipcode">
          <%= snippet.code %><!-- Code Text Here -->
        </div>
      </div>
    <% end %>
  </div>
<% end  %>
